html {
  overflow-y: scroll;
  /*Reserviert imme einen Bereich für eine Scrollbar, 
  um einen Verrutschen des Layouts zu verhindern,
  beim Wechsel von Seiten mit Scrollbar zu einer ohne. */
}

/* Code in Anlehnung an W3Schools (o.J): How TO - Hide Arrows From Input Number. Hg. v. W3Schools. Online verfügbar unter https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp, zuletzt geprüft am 02.04.2026 */
/* Chrome, Safari, Edge, Opera */
.my-no-spin::-webkit-outer-spin-button,
.my-no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.my-no-spin[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
